"--- Set Leader key ---
let mapleader=" "

"--- jj escape ---
inoremap jj <Esc>

"--- Plugins ---
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set exchange
set highlightedyank
set nerdtree
set which-key

"--- Plugin settings ---
set notimeout
let g:argtextobj_pairs="[:],(:),<:>"
map <C-n> <Plug>NextWholeOccurrence

"--- Common settings ---
set nu
set number relativenumber
set visualbell
set showmode
set showcmd
set scrolloff=10
set clipboard+=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch
set ideajoin
set ideastatusicon=gray
set selectmode=mouse

"--- Key mappings ---
noremap <C-Tab> :bnext<CR>

map <leader>f <Plug>(easymotion-s)
map <leader>e <plug>(easymotion-f)

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GoToNextError)

"Pane navigation
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

"Reformat the current line only
map <leader>l V<Action>(ReformatCode)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

"--- Which key settings ---
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#cad3f5"
let g:WhichKey_PrefixColor = "#ee99a0"
let g:WhichKey_SortOrder = "by_key_prefix_first"

let g:WhichKeyDesc_leader = "<leader> Leader key"

let g:WhichKeyDesc_leader = "<leader>d Debug"
let g:WhichKeyDesc_leader = "<leader>r Rename"
let g:WhichKeyDesc_leader = "<leader>c Stop"
let g:WhichKeyDesc_leader = "<leader>z Distraction Free Mode"

let g:WhichKeyDesc_leader = "<leader>s Select in Project View"
let g:WhichKeyDesc_leader = "<leader>a Annotate"
let g:WhichKeyDesc_leader = "<leader>h Show Tabbed File History"
let g:WhichKeyDesc_leader = "<S-Space> Go to Next Error"

let g:WhichKeyDesc_leader = "<leader>l Reformat Line"

let g:WhichKeyDesc_leader = "<leader>b Toggle Line Breakpoint"
let g:WhichKeyDesc_leader = "<leader>o File Structure Popup"
