.DS_Store
.idea/
**/__pycache__/

# Stow
#.stowrc

# Git
#git/

# Wezterm
#wezterm/

# Neovim
nvim/

# Tmux
tmux/

# Zsh
#zsh/

# IdeaVim
#ideavim/

# Yabai
#yabai/

# Skhd
#skhd/

# Neofetch - migrating to fastfetch
neofetch/

# Karabiner
#karabiner/
