.DS_Store
.idea/
**/__pycache__/

scripts/am-cli-player/tmp.*

# Stow
#.stowrc

# Git
#git/

# Wezterm
#wezterm/

# Kitty
kitty/

# Neovim
nvim/

# Tmux
tmux/

# Zsh
#zsh/

# IdeaVim
#ideavim/

# Yabai
#yabai/

# Skhd
#skhd/

# Karabiner
#karabiner/
